/* Utils */

.btn.btn-secondary {
    background-color: rgb(54, 54, 54);
}

.btn.btn-warning {
    background-color: rgb(205, 61, 15);
    border-color: rgb(205, 61, 15);
    ;
}

/* TODO DA ELIMINARE */
.brd {
    border: 1px solid red;
}


.immagini {
    height: 50px;
    background-color: dodgerblue;
}

section {
    min-height: 400px;
}

/* General */

header {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

main {
    padding-top: 100px;
}

img {
    max-width: 100%;
}

h1 {
    font-size: calc(1.7rem + 1.5vw);
}

.subtitle {
    color: rgb(120, 120, 120);
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    margin-top: 1rem;
    line-height: 1.5rem;
}

/* Header */

.header-top {
    background-color: black;
}

.header-top figure {
    width: 80px;
    height: 30px;
    margin-bottom: 0;
}

.header-bottom .navbar {
    height: 70px;
    background-color: white;
}

.header-bottom .logo {
    width: 50px;
}

.header-bottom .nav-link {
    color: black;
}

.header-bottom .nav-link::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url(../img/chevron-down-solid.svg);
    background-size: cover;
}

.header-bottom button.search {
    background-color: white;
    border: none;
    width: 40px;
}

/* Jumbotron */

.jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-top {
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
}

.jumbotron-top figure {
    width: 50%;
}

.jumbotron-bottom figure {
    padding: 3px;
    cursor: pointer;
}

.jumbotron-bottom img {
    border-radius: 0.7rem;
}

/* New Console */

#new-console .opacity-cust {
    opacity: 0.6;
}

/* New Game */

#new-games .new-games-top {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 500px;
}

/* # VISUALIZZAZIONE SM */

@media screen and (min-width:576px) {
    /* Our Social */

    #our-social .col {
        width: 120px;
    }

}

/* # VISUALIZZAZIONE LG */

@media screen and (min-width:992px) {
    /* Jumbotron */

    .jumbotron-top figure {
        width: 75%;
    }

}