/* Utils */

.btn.btn-secondary {
    background-color: rgb(54, 54, 54);
}

.btn.btn-warning {
    background-color: rgb(205, 61, 15);
    border-color: rgb(205, 61, 15);
}

.w-60 {
    width: 60%;
}

/* TODO DA ELIMINARE */
.brd {
    border: 1px solid red;
}

/* General */

header {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

main {
    padding-top: 100px;
}

footer {
    background-color: rgb(0, 67, 156);
    padding: 100px 0;
}

img {
    max-width: 100%;
}

h1 {
    font-size: calc(1.7rem + 1.5vw);
}

h2 {
    font-size: calc(1.7rem + .9vw);
}

.subtitle {
    color: rgb(120, 120, 120);
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    margin-top: 1rem;
    line-height: 1.5rem;
}

/* Header */

.header-top {
    background-color: black;
}

.header-top figure {
    width: 80px;
    height: 30px;
    margin-bottom: 0;
}

.header-bottom .navbar {
    height: 70px;
    background-color: white;
}

.header-bottom .logo {
    width: 50px;
}

.header-bottom .nav-link::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url(../img/chevron-down-solid.svg);
    background-size: cover;
}

.header-bottom .nav-link:hover::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url(../img/chevron-down-solid-hover.svg);
    background-size: cover;
}

.header-bottom button.search {
    background-color: white;
    border: none;
    width: 40px;
}

/* Navbar Attiva */

.navbar-nav .dropdown-menu {
    margin-top: 70px;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: 0;
}

.dropdown-menu img {
    height: 80px;
}

.dropdown-menu p {
    margin-bottom: 0;
}

.dropdown-menu .dropdown-bottom a::before {
    content: "\2022";
    color: #0d6efd;
    font-weight: bold;
    display: inline-block;
}

/* Effetti Hover Dropdown menù */

.dropdown-menu .dropdown-top .dropdown-item:hover {
    background-color: white;
    box-shadow: 0 0 2px 3px lightgray;
}

.dropdown-menu .dropdown-bottom .dropdown-item:hover {
    color: #0d6efd;
    background-color: white;
}

/* Jumbotron */

.jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-top {
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
}

.jumbotron-top figure {
    width: 50%;
}

.jumbotron-bottom figure {
    padding: 3px;
    cursor: pointer;
    transition: transform 0.5s;
}

.jumbotron-bottom img {
    border-radius: 0.7rem;
}

/* New Console */

.new-console-bottom .effect-cust {
    opacity: 0.6;
    border-bottom: 2px solid transparent;
}

.new-console-bottom .col {
    cursor: pointer;
}

/* New Games */

#new-games .new-games-top {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 450px;
}

.new-games-bottom {
    background-color: rgb(31, 31, 31);
}

.new-games-bottom img {
    border-radius: 1rem;
}

/* PS Plus */

#ps-plus {
    background-color: rgb(190, 188, 187);
}

#ps-plus .btn-light {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: transparent;
}

/* PS Now */

#ps-now {
    background-color: rgb(22, 28, 59);
}

/* Footer */

.globe-lang {
    width: 20px;
}

footer .footer-logo {
    width: 120px;
}

footer a {
    color: white;
    text-decoration: none;
    line-height: 2rem;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 14px;
}

/* Hover Effect */

/* Scurimento link navbar header */



/* Transition Jumbotron Bottom */

.jumbotron-bottom figure:hover {
    transform: translateY(-10px);
}

/* Effetto Opacità New Console */

#new-console .effect-cust:hover {
    opacity: 1;
    border-color: #0d6efd;
}


/* # VISUALIZZAZIONE SM */

@media screen and (min-width:576px) {
    /* Our Social */

    #our-social .col {
        width: 120px;
    }

}

/* # VISUALIZZAZIONE MD */

@media screen and (min-width:768px) {
    /* Our Social */

    #our-social .col {
        width: 160px;
    }

}

/* # VISUALIZZAZIONE LG */

@media screen and (min-width:992px) {
    /* Jumbotron */

    .jumbotron-top figure {
        width: 75%;
    }

}