/* Utils */

.brd {
    border: 1px solid red;
}


.immagini {
    height: 50px;
    background-color: dodgerblue;
}


/* General */

section {
    min-height: 400px;
}

header {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

main {
    padding-top: 100px;
}

/* Header */

.header-top {
    background-color: black;
}

.header-top figure {
    width: 80px;
    height: 30px;
    margin-bottom: 0;
}

.header-bottom .navbar {
    height: 70px;
    background-color: white;
}

.header-bottom .logo {
    width: 50px;
}

/* Jumbotron */

.jumbotron-top {
    height: 300px;

}

@media screen and (min-width:576px) {
    /* Our Social */

    #our-social .col {
        width: 120px;
    }

}